<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Daily Journal</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-md-6">
				<h1 style="margin-bottom: 30px;">New Journal</h1>
				<div>
					<form th:object="${journal}" th:action="@{save}" action="#" method="post">
						<label for="date">Date</label>
						<input type="date" id="date" th:field="*{date}" />
						<div style="clear: both; display: block; height: 10px;"></div>

						<label for="description">Description</label>
						<textarea id="description" th:field="*{description}" rows="5"
							style="display: block; margin-top: 5px; width: 60%;"></textarea>

						<div style="clear: both; display: block; height: 10px;"></div>
						<label for="note">Note</label>
						<input type="text" th:field="*{note}" style="margin-bottom: 10px; width: 50%;" />

						<div class="row">
							<div class="col-md-1">
								<label for="mood">Mood</label>
							</div>
							<div class="col-md-10">
								<select id="mood" th:field="*{mood}" class="form-control">
									<option th:each="mood: ${moods}" th:value="${mood.moodId}" th:text="${mood.name}">
									</option>
								</select>
							</div>
						</div>



						<div style="clear: both; display: block; height: 10px;"></div>
						<input type="submit" class="btn btn-primary" value="Save"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>