<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>My Daily Journal</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Hello :)</h1>
		</div>

		<div class="col-md-4">
			<span sec:authentication="name" style="text-transform: uppercase; font-size: 20px;">Name</span>
		</div>

		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			</form>
		</div>

		<div class="form-group">
			<label for="filter">Filter:</label>
			<input type="text" class="form-control" id="filter" placeholder="Enter text to filter">
		</div>

		<table class="table table-striped" id="journalTable">
			<tr>
				<th>Date</th>
				<th>Content</th>
				<th>Note</th>
				<th>Mood</th>
				<th sec:authorize="hasAuthority('ADMIN')"> </th>
			</tr>

			<tbody>
				<tr th:each="book : ${books}">
				<tr th:each="journal : ${journals}">
					<td th:text="${journal.date}"></td>
					<td th:text="${journal.description}"></td>
					<td th:text="${journal.note}"></td>
					<td th:text="${journal.mood.name}"></td>

					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${journal.id})}"
							class="btn btn-xs btn-danger">Delete</a></td>
					<td><a th:href="@{/edit(id=${journal.id})}" class="btn btn-xs btn-danger">Edit</a></td>

				</tr>
			</tbody>
		</table>
		<a href="/add" class="btn btn-primary" sec:authorize="hasAuthority('ADMIN')">New Journal</a>
	</div>

	<script th:inline="javascript">
		$(document).ready(function () {
			function sortTable() {
				var table, rows, switching, i, x, y, shouldSwitch;
				table = $("#journalTable")[0];
				switching = true;

				while (switching) {
					switching = false;
					rows = table.rows;

					for (i = 1; i < rows.length - 1; i++) {
						shouldSwitch = false;

						x = rows[i].cells[0]; // Assuming the date is in the first column
						y = rows[i + 1].cells[0];

						// Convert date strings to Date objects for proper comparison
						var dateX = new Date(x.innerText);
						var dateY = new Date(y.innerText);

						if (dateX < dateY) {
							shouldSwitch = true;
							break;
						}
					}

					if (shouldSwitch) {
						rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
						switching = true;
					}
				}
			}

			// Call the sortTable function when the page is loaded
			sortTable();

			$("#filter").on("input", function () {
				var filterText = $(this).val().toLowerCase();
				$("tbody tr").each(function () {
					var rowText = $(this).text().toLowerCase();
					$(this).toggle(rowText.includes(filterText));
				});
			});
		});
	</script>
</body>